body {
  margin: 2%;
  background-color: black;
  color: white;
}

p {
  margin-top: 2.5%;
}

img {
  height: 300px;
  width: auto;
  float: right;
  margin-right: 85%;
}

button {
  background-color: white;
  color: black;
}

#age::after {
  content: '100';
  left: 50%;
  top: 26%;
}

#age::before {
  content: '0';
  left: 12%;
  top: 26%;
}